[Desktop Entry]
Name=Recffmpeg
Comment=Screencast Application
Exec=recffmpeg
Icon=recffmpeg
GenericName=Desktop Recorder
GenericName[de]=Bildschirmaufzeichnung
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
