Source: recffmpeg
Section: video
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9), libasound2-dev, libopencv-dev, libqt4-dev
Standards-Version: 3.9.5
Homepage: https://github.com/NeptuneOS/recffmpeg
Vcs-Git: https://github.com/NeptuneOS/recffmpeg.git

Package: recffmpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libav-tools, mkvtoolnix
Description: easy to use screencast creator
 recffmpeg can be used to record educational videos, live recordings
 of browser, installation, videoconferences etc. You can capture an
 alone video or video and sound (via ALSA or PulseAudio).
 .
 The program is very simple and uses a minimalistic GUI. It also can
 capture your face using a webcam in the same time, so this feature is
 especially suitable for screencasting purposes.
 .
 This program uses the avconv features and saves the capture in some
 formats, as AVI and MKV for video and MP3 for audio.
